# Bitbucket instance details
BITBUCKET_URL=
BITBUCKET_PROJECT=
BITBUCKET_USERNAME=
BITBUCKET_PASSWORD=
BITBUCKET_TOKEN=

# Gitea instance details
GITEA_URL=
GITEA_TOKEN=
GITEA_USERNAME=
GITEA_USER_ID=
GITEA_ORGANIZATION=

# Script settings
LOG_LEVEL=
